{% extends 'base.html' %}
{% load static %}
{% block cart %}
<div class="container">
    <div class="row align-items-start">
      <div class="col">
      </BR>
       <h4>NGUYỄN THIÊN KIỀU</h4>
       <p class="text-start">MSSV: N20DCCN109</p>
       <p class="text-start">Lớp: D20CQCNHT01-N</p>
       <h4>NGUYỄN THỊ THÙY TRANG</h4>
       <p class="text-start">MSSV: N20DCCN</p>
       <p class="text-start">Lớp: D20CQCNHT01-N</p>
       <h4>NGUYỄN PHÚC ĐẠI</h4>
       <p class="text-start">MSSV: N19</p>
       <p class="text-start">Lớp: D19</p>
      </div>
      <div class="col">
       <img src="{%static 'frontend/images/2.jpg'%}" class="img-thumbnail" alt="...">
      </div>
   </div>
  </div>
{% endblock cart %}
