{% extends 'frontend/activity.html' %}
{% load static %}
{% block ongoing %}
<div class="container">
    <div class="card">
        <div class="card-body">
            <ul class="list-group list-group-flush">
                <li class="list-group-item">
                    Thời gian:...
                    <div class="row align-items-center">
                        <div class="col-auto d-flex justify-content-center">
                            <img src=" {% static 'app/images/logo.png'%}" width="40" height="40">
                        </div>
                        <div class="col-8">
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item">Điểm đón:</li>
                                <li class="list-group-item">Điểm trả:</li>
                            </ul>
                        </div>
                        <div class="col-3">
                            <a class="btn btn-primary" href="{% url 'frontend:tripDetail'%}">
                              Chi tiết chuyến đi
                            </a>
                            <a class="btn btn-success" href="#">
                                Share
                            </a>
                        </div>
                    </div>
                    <div>
                        <a href="{% url 'frontend:service'%}" class="btn btn-sm btn-success shadow-0"> Gia hạn </a>
                        <a href="#" class="btn btn-sm btn-danger shadow-0"> Hủy gói </a>
                    </div>
                </li>
                <li class="list-group-item">
                    Thời gian:...
                    <div class="row align-items-center">
                        <div class="col-auto d-flex justify-content-center">
                            <img src=" {% static 'app/images/logo.png'%}" width="40" height="40">
                        </div>
                        <div class="col-8">
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item">Điểm đón:</li>
                                <li class="list-group-item">Điểm trả:</li>
                            </ul>
                        </div>
                        <div class="col-3">
                            <a class="btn btn-primary" href="{% url 'frontend:tripDetail'%}">
                              Chi tiết chuyến đi
                            </a>
                            <a class="btn btn-success" href="#">
                                Share
                            </a>
                        </div>
                    </div>
                    <div>
                        <a href="{% url 'frontend:service'%}" class="btn btn-sm btn-success shadow-0"> Gia hạn </a>
                        <a href="#" class="btn btn-sm btn-danger shadow-0"> Hủy gói </a>
                    </div>
                </li>
            </ul>
        </div>
    </div>
  </div>

{% endblock ongoing %}
