{% extends 'base.html' %}
{% load static %}
{% block personalInformation %}
<div class="card mb-4">
    <div class="card-header py-3">
        <div class="row">
            <div class="col">
                <h5 class="mb-0">Payment</h5>
            </div>
            <div class="col">
                <h5 class="mb-0 text-end" id="historyButton" data-bs-toggle="modal" data-bs-target="#historyModal">History</h5>
                <div class="modal fade" id="historyModal" tabindex="-1" aria-labelledby="historyModalLabel" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered modal-lg">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="historyModalLabel">History</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <section class="py-5">
                                    <ul class="timeline">
                                        <li class="timeline-item mb-5">
                                            <h5 class="fw-bold">29 March 2024</h5>
                                            <p class="text-muted mb-2 fw-bold">Mã giao dịch</p>
                                            <p class="text-muted">
                                                Tình trạng gói dịch vụ
                                            </p>
                                        </li>
                                        <li class="timeline-item mb-5">
                                            <h5 class="fw-bold">21 March 2024</h5>
                                            <p class="text-muted mb-2 fw-bold">Mã giao dịch</p>
                                            <p class="text-muted">
                                                Tình trạng gói dịch vụ
                                            </p>
                                        </li>
                                    </ul>
                                </section>
                            </div>
                            <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="card-body">
      <!-- Single item -->
      <div class="row">
        <div class="col-lg-7 col-md-6 mb-4 mb-lg-0">
          <!-- Data -->
          <p>Name on card: </p>
          <p>Credit card number: </p>
          <p>Expiration: </p>
          <p>CVV: </p>
          <!-- Data -->
        </div>

        <div class="col-lg-4 col-md-6 mb-4 mb-lg-0">
            <button type="button" data-mdb-button-init data-mdb-ripple-init class="btn btn-success btn-sm me-1 mb-2" data-mdb-tooltip-init title="Add item">
                <i class="fas fa-plus"></i>
            </button>
            <button type="button" data-mdb-button-init data-mdb-ripple-init class="btn btn-primary btn-sm me-1 mb-2" data-mdb-tooltip-init title="Edit item">
                <i class="fas fa-edit"></i>
            </button>
            <button type="button" data-mdb-button-init data-mdb-ripple-init class="btn btn-danger btn-sm me-1 mb-2" data-mdb-tooltip-init title="Remove item">
                <i class="fas fa-trash"></i>
            </button>
        </div>

      </div>
    </div>
</div>

{% endblock personalInformation %}
