{% extends 'base.html' %}
{% load static %}
{% block cart %}
<div class="container">
    <div class="row">
		<div class="col-3">
            <ul class="list-group list-group-flush">
                <li><a class="list-group-item" href="{% url 'frontend:perInfor'%}">Personal Information</a></li>
                <li><a class="list-group-item" href="{% url 'frontend:yourChild'%}">Your children information</a></li>
                <li><a class="list-group-item" href="{% url 'frontend:saveAddress'%}">Saved Address</a></li>
                <li><a class="list-group-item" href="{% url 'frontend:payment'%}">Payment</a></li>
                <li><a class="list-group-item" href="{% url 'frontend:invoiceInfor'%}">Invoice information</a></li>
                <li><a class="list-group-item" href="{% url 'frontend:termPolicy'%}">Term & Policy</a></li>
                <li><a class="list-group-item" href="{% url 'frontend:support'%}">Support</a></li>
                <li><a class="list-group-item" href="{% url 'frontend:changePW'%}">Change password</a></li>
                <li><a class="list-group-item" href="{% url 'frontend:language'%}">Language</a></li>
                <li><a class="list-group-item" href="{% url 'frontend:logout'%}">Log out</a></li>
            </ul>
        </div>

        <div class="col-7">
            {% block personalInformation %} {% endblock personalInformation %}
        </div>
    </div>
</div>


{% endblock cart %}
