{% extends 'base.html' %}
{% load static %}
{% block cart %}
<div class="container">
    <div class="row">
		<div class="col-3">
            <ul class="list-group list-group-flush">
                <li><a class="list-group-item" href="{% url 'frontend:perInfor'%}">Thông tin cá nhân</a></li>
                {% if user.customers %}
                <li><a class="list-group-item" href="{% url 'frontend:yourChild'%}">Danh sách học sinh</a></li>
                {% endif %}
                <li><a class="list-group-item" href="{% url 'frontend:logout'%}">Đăng xuất</a></li>
            </ul>
        </div>

        <div class="col-7">
            {% block personalInformation %} {% endblock personalInformation %}
        </div>
    </div>
</div>


{% endblock cart %}
