{% extends 'base.html' %}
{% load static %}
{% block cart %}
<div class="container">
    <div class="row align-items-start">
      <div class="col">
       <h2>TẠI SAO NÊN LỰA CHỌN ACXYZ?</h2>
       <h4>Tin cậy:</h4>
       <p class="text-start">Tài xế chuyên nghiệp, được đào tạo bài bản.</p>
       <p class="text-start">Quy trình nghiêm ngặt: bàn giao trẻ tận tay, chụp ảnh báo cáo.</p>
       <p class="text-start">Hệ thống CSKH 24/7 giải đáp thắc mắc và hỗ trợ.</p>
       <h4>Thông minh:</h4>
       <p class="text-start">Xe êm, khoang rộng giúp trẻ có thêm thời gian nghỉ ngơi, thư giãn.</p>
       <p class="text-start">Hệ thống định vị giúp phụ huynh dễ dàng theo dõi hành trình.</p>
      </div>
      <div class="col">
       <img src="{%static 'frontend/images/2.jpg'%}" class="img-thumbnail" alt="...">
      </div>
   </div>
  </div>
{% endblock cart %}
