{% extends 'base.html' %}
{% load static %}

{%block register%}
<!-- Background image -->
<div class="p-5 bg-image" style="
  background-image: url('https://mdbootstrap.com/img/new/textures/full/171.jpg');
  height: 300px;
  ">
</div>
<!-- Background image -->
<div class="col-sm-9 p-3">
  <div class="card mx-4 mx-md-5 shadow-5-strong bg-body-tertiary" style="margin-top: -100px; backdrop-filter: blur(30px);">
    <div class="card-body py-5 px-md-5">

      <div class="row d-flex justify-content-center">
        <div class="col-lg-8">
          <h2 class="fw-bold mb-5">Sign up</h2>
          <form class="mx-1 mx-md-4" method = 'POST' action =''>
            {% csrf_token %}
            <!-- 2 column grid layout with text inputs for the first and last names -->
            <div class="row">
              <div class="col-md-6 mb-4">
                <div data-mdb-input-init class="form-outline">
                  <label class="form-label" for="form3Example1">Full name: </label>
                  {{form.full_name}}
                  {% if form.full_name.errors %}
                    <div class="invalid-feedback d-block">
                          {% for error in form.full_name.errors %}
                              <p>{{ error }}</p>
                          {% endfor %}
                      </div>
                  {% endif %}
                </div>
              </div>
            </div>

            <!-- Phone number input -->
            <div data-mdb-input-init class="form-outline mb-4">
              <label class="form-label" for="form3Example3">Phone number: </label>
              {{form.phone}}
              {% if form.phone.errors %}
                <div class="invalid-feedback d-block">
                      {% for error in form.phone.errors %}
                          <p>{{ error }}</p>
                      {% endfor %}
                  </div>
              {% endif %}
            </div>

            <!-- Email input -->
            <div data-mdb-input-init class="form-outline mb-4">
              <label class="form-label" for="form3Example3">Email: </label>
              {{form.email}}
              {% if form.email.errors %}
                <div class="invalid-feedback d-block">
                      {% for error in form.email.errors %}
                          <p>{{ error }}</p>
                      {% endfor %}
                  </div>
              {% endif %}
            </div>

            <!-- Password input -->
            <div data-mdb-input-init class="form-outline mb-4">
              <label class="form-label" for="form3Example4">Password:</label>
              {{form.password1}}
              {% if form.password1.errors %}
                <div class="invalid-feedback d-block">
                  {% for error in form.password1.errors %}
                      <p>{{ error }}</p>
                  {% endfor %}
                  </div>
              {% endif %}
            </div>

            <!-- Repeat Password input -->
            <div data-mdb-input-init class="form-outline mb-4">

              <label class="form-label" for="form3Example4">Repeat your password:</label>
              {{form.password2}}
              {% if form.password2.errors %}
                <div class="invalid-feedback d-block">
                  {% for error in form.password2.errors %}
                      <p>{{ error }}</p>
                  {% endfor %}
                </div>
              {% endif %}
            </div>

            <!-- Checkbox -->
            <div class="form-check d-flex justify-content-center mb-5">
              <input class="form-check-input me-2" type="checkbox" value="" id="form2Example3c" />
              <label class="form-check-label" for="form2Example3">
                I agree all statements in <a href="#">Terms of service</a>
              </label>
            </div>

            <!-- Submit button -->
            <div class="text-center">
            <button type="submit" data-mdb-button-init data-mdb-ripple-init class="btn btn-primary btn-block mb-4" href={% url 'frontend:login' %}>
            Sign up
            </button>
            <div>
              <p class="mb-0"> Already have an account? <a href={% url 'frontend:login' %} class="text-blue-50 fw-bold">Log in</a>
              </p>
            </div>
            </div>
          </form>
          </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}
