{% extends 'frontend/activity.html' %}
{% load static %}
{% block ongoing %}
<div class="container">
    <div style="margin: 10px;" class="card">
        <div class="card-body">
          {% for schedule in paid_schedules %}
            <ul style="border-bottom: 1px solid;">
                <div style="text-align: center;">
                  <span style="font-size: 20px; font-weight: 500;">{{schedule.route.name}}</span>
                </div>
                <li class="list-group-item">
                    Thời gian: {{ schedule.start_day }} tới {{ schedule.end_day }}
                    <br>
                    Thời gian đón: {{ schedule.pickup_time }}
                    <div class="row align-items-center">
                        <div class="col-8">
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item">Điểm đón: {{ schedule.route.pickup.name }}</li>
                                <li class="list-group-item">Điểm trả: {{ schedule.route.dropoff.name }}</li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-3">
                      <a class="btn btn-primary" href="{% url 'frontend:tripHistory' schedule.id %}">
                        Lịch sử chuyến đi
                      </a>
                    </div>
                    <br>
                    {% if user.customers %}
                    <div class="col-3">
                      <a class="btn btn-primary" href="{% url 'frontend:schedule_manage' schedule.id %}">
                        Quản lý Lịch trình
                      </a>
                    </div>
                    {% endif %}
                </li>
            </ul>
            {% endfor %}
        </div>
    </div>
  </div>

{% endblock ongoing %}
