{% extends 'base.html' %}
{% load static %}
{% block cart %}
<style>
	.active {
		background-color:#387eff ;
		color: white;
	}
</style>
<section>
  <div class="row">
    <div class="col-3">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Tìm đường đi</h5>
          <div style="padding-bottom: 10px;">
            <label>Điểm bắt đầu</label>
              <select id="html_select_starting_point" style="width: 100%;">
                <option></option>
              </select>
          </div>
          <div>
            <label>Điểm kết thúc</label>
              <select id="html_select_ending_point" style="width: 100%;">
                <option></option>
              </select>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Tuyến đường đi</h5>
          <div style="height:200px;" id="html_select_list_router">
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Trạm</h5>
          <div style="height:200px;" id="html_list_detail_router">

          </div>
        </div>
      </div>
    </div>
    <div class="col-7">
      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3918.51036180692!2d106.78445327336814!3d10.848733189304461!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31752713471f5b15%3A0x1d5dddea640dad31!2zOTcgxJAuIE1hbiBUaGnhu4duLCBIaeG7h3AgUGjDuiwgUXXhuq1uIDksIFRow6BuaCBwaOG7kSBI4buTIENow60gTWluaCwgVmnhu4d0IE5hbQ!5e0!3m2!1svi!2s!4v1714053135713!5m2!1svi!2s"
        width="100%" height="100%" frameborder="0" style="border:0" allowfullscreen>
      </iframe>
    </div>
    <div class="col-2">
      <div>
        <label class="mb-2">Loại xe</label>
        <select id="vehicel-type" class="form-select border border-secondary" style="height: 35px;">
          <option>16 chỗ</option>
          <option>29 chỗ</option>
          <option>45 chỗ</option>
        </select>
      </div>
        </p>
      <div>
        <label class="mb-2">Thời gian</label>
        <select id="time-package" class="form-select border border-secondary" style="height: 35px;">
          <option>3 tháng</option>
          <option>6 tháng</option>
          <option>9 tháng</option>
        </select>
      </div>
        </p>
      <div>
        <label class="mb-2">Thời gian đón</label>
        <input type="time" id="pickup-time" name="time" required>
      </div>
      <script>
        // Lấy ra các phần tử cần thiết
        const decreaseBtn = document.getElementById('decreaseBtn');
        const increaseBtn = document.getElementById('increaseBtn');
        const quantityInput = document.getElementById('quantityInput');

        // Xử lý sự kiện khi nhấn nút giảm
        decreaseBtn.addEventListener('click', function() {
            let currentValue = parseInt(quantityInput.value);
            if (!isNaN(currentValue) && currentValue > 1) {
                quantityInput.value = currentValue - 1;
            }
        });

        // Xử lý sự kiện khi nhấn nút tăng
        increaseBtn.addEventListener('click', function() {
            let currentValue = parseInt(quantityInput.value);
            if (!isNaN(currentValue)) {
                quantityInput.value = currentValue + 1;
            }
        });
      </script>
      <hr />
      <div>
        <a id="buy-now-btn" class="btn btn-warning shadow-0">Đặt dịch vụ</a>
      </div>
    </div>
  </div>
  <input type="hidden" id="route_id" name="route_id" value="">
  <input type="hidden" id="output_distance" name="output_distance" value=0>
</section>
<script>
  let origin_url = window.location.origin;
  let list_starting_point=[];
  let list_ending_point=[];
  let list_router=[];
  let pickup;
  let detail_router;
  let sort_stop_station=[];
  let html_select_starting_point = document.getElementById('html_select_starting_point');
  let html_select_ending_point = document.getElementById('html_select_ending_point');
  let html_select_list_router = document.getElementById('html_select_list_router');
  let html_list_detail_router = document.getElementById('html_list_detail_router');
  let route;

  //event load data starting point
  load_data_starting_point();
  // event load data ending point
  load_data_router();
  // event select starting point
  html_select_starting_point.addEventListener('change', function() {
    display_ending_point(html_select_starting_point.value);
    pickup=html_select_starting_point.value;
  });
   // event select ending point
   html_select_ending_point.addEventListener('change', function() {
    display_router(html_select_ending_point.value);
  });

  async function display_stop_station(id){
    html_list_detail_router.innerHTML = ``;
    detail_router = await fetch_detail_stop_station(id);
        const div = document.createElement('div');
        var list_detail_chirden_station = '';
        sort_stop_station=detail_router.route_detail;
        sort_stop_station.sort((a, b) => a.sequence - b.sequence);
        sort_stop_station.forEach(function (item) {
          list_detail_chirden_station += `
            <div style="padding: 5px; border-bottom: 1px solid;">
              <span>${item?.station?.name}</span>
            </div>
          `;
        });
        div.innerHTML = `
            <div style="padding: 5px; border-bottom: 1px solid;">
              <span>${detail_router?.pickup?.name}</span>
            </div>
            <div>
              ${list_detail_chirden_station}
            <div>
            <div style="padding: 5px; border-bottom: 1px solid;">
              <span>${detail_router?.dropoff?.name}</span>
            </div>
         `;
    html_list_detail_router.appendChild(div);


    var pickup=detail_router?.pickup;
    var dropoff=detail_router?.dropoff;

    const url_map = 'https://www.google.com/maps/dir/';
    let url = `${url_map}${pickup.latitude},${pickup.longitude}`;
    sort_stop_station.forEach(item => {
        url += `/${item?.station?.latitude},${item?.station?.longitude}`;
    });
    url += `/${dropoff.latitude},${dropoff.longitude}`;

    window.open(`${url}`, '_blank', 'width=800,height=600');
  }
  async function fetch_detail_stop_station(id) {
    return fetch(`${origin_url}/service/api/v1/get-route/${id}`)
        .then(response => response.json())
        .then(data => {
            if (data.data) {
              return data.data
            ;}
            throw new Error('No data found');
        })
        .catch(error => {
            console.error(error);
            throw error;
        });
  }

  function display_router(dropoff){
    html_select_list_router.innerHTML = ``;
    html_list_detail_router.innerHTML = ``;
    const list_router_dislay= list_router.filter(item => item.pickup == pickup&&item.dropoff == dropoff);

    list_router_dislay.forEach(function (item) {
        const div = document.createElement('div');
        div.innerHTML = `
          <div style="padding: 5px; border-bottom: 1px solid; cursor: pointer; margin-bottom: 10px;">
            <span>${item.name}</span>
          </div>
         `;
         div.addEventListener('click', function () {
          const allDivs = html_select_list_router.querySelectorAll('div');
          allDivs.forEach(function(div) {
              div.classList.remove('active');
          });
        div.classList.add('active');
            display_stop_station(item.id);
            document.getElementById('route_id').value = item.id;
            calculateDistances();
         });
         html_select_list_router.appendChild(div);
    })
  }

  async function display_ending_point(id){
    const list_id_ending_point = list_router.filter(item => item.pickup == id);
    html_select_ending_point.innerHTML=`<option></option>`;
    html_select_list_router.innerHTML = ``;
    html_list_detail_router.innerHTML = ``;
    if(list_id_ending_point.length!==0){
      list_ending_point=[];
      for(const item of list_id_ending_point){
        let data= await fetch_detail_ending_point(item.dropoff);
        list_ending_point.push(data);
      }
      list_ending_point.forEach(function (item) {
          const opi = document.createElement('option');
          opi.value = item.id;
          opi.text = item.name;
          html_select_ending_point.appendChild(opi);
        })
    }
  }
  async function fetch_detail_ending_point(id) {
    return fetch(`${origin_url}/service/api/v1/get-station/${id}`)
        .then(response => response.json())
        .then(data => {
            if (data.data) {return data.data;}
            throw new Error('No data found');
        })
        .catch(error => {
            console.error(error);
            throw error;
        });
  }

  function load_data_starting_point(){
    fetch_data_starting_point();
    function fetch_data_starting_point(id) {
      return fetch(`${origin_url}/service/api/v1/list-station`)
          .then(response => response.json())
          .then(data => {
              if(data.data){display_starting_point(data);}
              throw new Error('No data found');
          })
          .catch(error => {
              console.error(error);
              throw error;
          });
    }
    function display_starting_point(data){
      if(data.data){
        list_starting_point=data.data;
        list_starting_point.forEach(function (item) {
          const opi = document.createElement('option');
          opi.value = item.id;
          opi.text = item.name;
          html_select_starting_point.appendChild(opi);
        })
      }
    }
  }

  function load_data_router(){
    fetch_data_router();
    function fetch_data_router(id) {
      return fetch(`${origin_url}/service/api/v1/list-route`)
          .then(response => response.json())
          .then(data => {
              if(data.data){ list_router=data.data;}
              throw new Error('No data found');
          })
          .catch(error => {
              console.error(error);
              throw error;
          });
    }
  }

  document.getElementById('buy-now-btn').addEventListener('click', function() {
    const route_id = document.getElementById('route_id').value;
    const timePackage = document.getElementById('time-package').value;
    const pickupTime = document.getElementById('pickup-time').value;
    const vehicelType = document.getElementById('vehicel-type').value;
    const outputDistance = document.getElementById('output_distance').value;

    if (!pickupTime) {
      alert('Vui lòng chọn thời gian đón.');
      return;
    }

    if (!route_id) {
      alert('Vui lòng chọn tuyến đường.');
      return;
    }

    if (!timePackage) {
      alert('Vui lòng chọn gói thời gian.');
      return;
    }

    if (!vehicelType) {
      alert('Vui lòng chọn loại xe.');
      return;
    }

    const queryString = new URLSearchParams({
        route_id: route_id,
        time_package: timePackage,
        pickup_time: pickupTime,
        vehicel_type: vehicelType,
        distance: outputDistance
    }).toString();

    window.location.href = `{% url 'frontend:checkout' %}?` + queryString;
  });

  async function calculateDistances() {
    let route_id = document.getElementById('route_id').value
    detail_router = await fetch_detail_stop_station(route_id);

    const pickup = { lat: detail_router.pickup.latitude, lng: detail_router.pickup.longitude };
    const dropoff = { lat: detail_router.dropoff.latitude, lng: detail_router.dropoff.longitude };

    const sorted_route_detail = detail_router.route_detail.sort((a, b) => a.sequence - b.sequence);

    const sort_stop_station = sorted_route_detail.map(detail => {
        return {
            station: {
                lat: parseFloat(detail.station.latitude),
                lng: parseFloat(detail.station.longitude)
            }
        };
    });

    console.log(sort_stop_station)

    const waypoints = sort_stop_station.map(item => {
        return {
            location: new google.maps.LatLng(item.station.lat, item.station.lng),
            stopover: true
        };
    });

    const directionsService = new google.maps.DirectionsService();
    const directionsRenderer = new google.maps.DirectionsRenderer();

    const request = {
        origin: new google.maps.LatLng(pickup.lat, pickup.lng),
        destination: new google.maps.LatLng(dropoff.lat, dropoff.lng),
        waypoints: waypoints,
        travelMode: google.maps.TravelMode.DRIVING,
    };

    directionsService.route(request, function(result, status) {
        if (status === 'OK') {
            let totalDistance = 0;
            let route = result.routes[0];
            for (let i = 0; i < route.legs.length; i++) {
                totalDistance += route.legs[i].distance.value; // khoảng cách tính bằng mét
            }
            totalDistance = totalDistance / 1000;
            totalDistance = Math.ceil(totalDistance * 100) / 100;
            document.getElementById('output_distance').value = totalDistance.toFixed(1)
        } else {
            alert('Directions request failed due to ' + status);
        }
    });
  }

</script>
{% endblock cart %}
