{% extends 'base.html' %}
{% load static %}
{% block cart %}
<div class="container">
      <div style="padding-top: 10px; display: flex; align-items: center; justify-content: center;">
        <input type="month" id="monthInput"/>
      </div>
      <div style="padding: 10px;" class="row ">
        <div  class="col-12 col-lg-10 col-xl-8 col-xxl-7">
          {% comment %} <div style="padding-bottom: 10px;" id="htmlTimePackage" class="row gy-4">
            <!--  -->

          </div> {% endcomment %}
          <div class="row gy-4">
            <div class="col-12 col-sm-6">
              <div class="card widget-card border-light shadow-sm">
                <div id="htmlOrderDisplay" class="card-body p-4">

                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
  </div>
  <script>
        const today = new Date();
        const year = today.getFullYear();
        const month = (today.getMonth() + 1).toString().padStart(2, '0');
        const monthInput = document.getElementById('monthInput');
        monthInput.value = `${year}-${month}`;

    let origin_url = window.location.origin;
    let htmlOrderDisplay=document.getElementById('htmlOrderDisplay');
    let htmlTimePackage=document.getElementById('htmlTimePackage');
    loadDataOrder('5','2024');
    loadTimePackage();
    function loadDataOrder(month,year){
        fetchDataDriver();
        function fetchDataDriver() {
            return fetch(`${origin_url}/order/api/v1/month/${month}/${year}/`)
            .then(response => response.json())
            .then(data => {
                if(data.data){displayDataOrder(data);}
                throw new Error('No data found');
            })
            .catch(error => {
                console.error(error);
                throw error;
            });
        }
        function displayDataOrder(data){
          if(data.data){
            let dataOrder=data.data;
            htmlOrderDisplay.innerHTML=`
                  <div class="row">
                    <div class="col-8">
                      <h5 class="card-title widget-card-title mb-3">Đơn hàng</h5>
                      <h4 class="card-subtitle text-body-secondary m-0">${dataOrder.total_price??0}$</h4>
                    </div>
                    <div class="col-4">
                      <div class="d-flex justify-content-end">
                        <div class="lh-1 text-white bg-info rounded-circle p-3 d-flex align-items-center justify-content-center">
                          ${dataOrder.total_order_count} đơn
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-12">
                      <div class="d-flex align-items-center mt-3">
                        <span class="lh-1 me-3 bg-success-subtle text-success rounded-circle p-1 d-flex align-items-center justify-content-center">
                          <i class="bi bi-arrow-right-short bsb-rotate-n45"></i>
                        </span>
                        <div>
                          <p class="fs-7 mb-0">Chi tiết: Không</p>
                        </div>
                      </div>
                    </div>
                  </div>
            `
          }
        }
    }
    function loadTimePackage(){
        fetchDataTimePackage();
        function fetchDataTimePackage() {
            return fetch(`${origin_url}/order/api/v1/time-package/`)
            .then(response => response.json())
            .then(data => {
                if(data.data){displayTimePackage(data);}
                throw new Error('No data found');
            })
            .catch(error => {
                console.error(error);
                throw error;
            });
        }
        function displayTimePackage(data){
          if(data.data){
            let timePackage=data.data;
            timePackage.forEach(function (item) {
              htmlTimePackage.innerHTML=`
              <div class="col-12 col-sm-6">
                <div class="card widget-card border-light shadow-sm">
                  <div  class="card-body p-4">
                    <div class="row">
                      <div class="col-8">
                        <h5 class="card-title widget-card-title mb-3"> Gói ${item.time_package}</h5>
                        <h4 class="card-subtitle text-body-secondary m-0">${item.total_price}$</h4>
                      </div>
                      <div class="col-4">
                        <div class="d-flex justify-content-end">
                          <div class="lh-1 text-white bg-info rounded-circle p-3 d-flex align-items-center justify-content-center">
                            ${item.total_order_count} đơn
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-12">
                        <div class="d-flex align-items-center mt-3">
                          <span class="lh-1 me-3 bg-success-subtle text-success rounded-circle p-1 d-flex align-items-center justify-content-center">
                            <i class="bi bi-arrow-right-short bsb-rotate-n45"></i>
                          </span>
                          <div>
                            <p class="fs-7 mb-0">Chi tiết: ${item.time_package}</p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            `
            })

          }
        }
    }
    document.getElementById('monthInput').addEventListener('change', handleFilter);
    function handleFilter() {
            const monthInputValue = document.getElementById('monthInput').value;
            if (monthInputValue) {
                const [year, month] = monthInputValue.split('-');
                loadDataOrder(month,year);
            }
        }
  </script>
{% endblock cart %}
