{% extends 'base.html' %}
{% load static %}
{% block cart %}
<section>
  <div class="row">
    <div class="col-4">
      <div class="card">

        <div class="card-body">
			<button type="button" class="btn btn-success btn-sm me-1 mb-2" data-toggle="modal" data-target="#addTripDetailModal">
				<i class="fas fa-plus"></i> Tạo chuyến đi
			</button>
        </div>
      </div>
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Danh sách chuyến đi</h5>
          <ul class="list-group list-group-flush">
			{% for trip_detail in trips_detail %}
            	<li class="list-group-item trip-item" data-trip-id="{{ trip_detail.id }}">Chuyến đi ngày {{ trip_detail.start_time }}</li>
			{% endfor %}
          </ul>
        </div>
      </div>
    </div>
    <div class="col-8">
        <div class="card">
            <div class="card-body">
              <h5 class="card-title">Thông tin chuyến đi</h5>
              <ul class="list-group list-group-flush">
                <li class="list-group-item">Thông tin xe: <span id="vehicle-info"></span></li>
                <li class="list-group-item">Tên tài xế: <span id="driver-name"></span></li>
                <li class="list-group-item">Tên nhân viên: <span id="employee-name"></span></li>
                <li class="list-group-item">Thời gian bắt đầu đi: <span id="start-time"></span></li>
              </ul>
            </div>
        </div>
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">
              Trạng thái hiện tại
            </h5>
            <hr>
            <table class="table">
              <thead>
                <tr>
                  <th scope="col">STT</th>
                  <th scope="col">Tên học sinh</th>
                  <th scope="col">Tên phụ huynh</th>
                  <th scope="col">Số điện thoại</th>
                  <th scope="col">Trạng thái</th>
                </tr>
              </thead>
              <tbody id="student-status-list">

              </tbody>
            </table>
          </div>
        </div>
        <div class="card">
            <div class="card-body">
              <h5 class="card-title">Lịch sử trạng thái</h5>
              <hr>
              <table class="table">
                <thead>
                  <tr>
                    <th scope="col">STT</th>
                    <th scope="col">Tên học sinh</th>
                    <th scope="col">Tên phụ huynh</th>
                    <th scope="col">Số điện thoại</th>
                    <th scope="col">Trạng thái</th>
                  </tr>
                </thead>
                <tbody>

              </table>
            </div>
        </div>
    </div>
</div>
</section>

 <!-- Modal -->
 <div class="modal fade" id="addTripDetailModal" tabindex="-1" aria-labelledby="addTripDetailModalLabel" aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="addTripDetailModalLabel">Tạo chuyến đi</h5>
			</div>
			<form method="post" enctype="multipart/form-data">
				{% csrf_token %} <!-- CSRF token -->
				<div class="modal-body">
					<div class="form-group">
						<label for="id_full_name">Thời gian bắt đầu: </label>
						{{ form.start_time }}
					</div>
					<input type="hidden" id="id_schedule" name="schedule" value={{ schedule.id }}>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
					<button type="submit" class="btn btn-primary">Tạo chuyến</button>
				</div>
			</form>
		</div>
		{% if form_errors %}
			<div class="alert alert-danger" role="alert">
				{% for field, errors in form_errors.items %}
					<strong>{{ field|title }}</strong>: {{ errors|join:", " }}
				{% endfor %}
			</div>
		{% endif %}
	</div>
</div>


<script>
	function getCookie(name) {
		let cookieValue = null;
		if (document.cookie && document.cookie !== '') {
			const cookies = document.cookie.split(';');
			for (let i = 0; i < cookies.length; i++) {
				const cookie = cookies[i].trim();
				// Does this cookie string begin with the name we want?
				if (cookie.substring(0, name.length + 1) === (name + '=')) {
					cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
					break;
				}
			}
		}
		return cookieValue;
	  }
	const csrftoken = getCookie('csrftoken');

	function fetchAttendance(studentId, tripDetailId) {
        const url = `/service/api/v1/list-attendance?student_id=${studentId}&trip_detail_id=${tripDetailId}`;

        fetch(url)
            .then(response => response.json())
            .then(data => {
                return data.data;
            })
            .catch(error => {
                console.error('Error fetching attendance:', error);
            });
    }

	document.addEventListener('DOMContentLoaded', function () {
		const tripItems = document.querySelectorAll('.trip-item');

		tripItems.forEach(item => {
			item.addEventListener('click', function () {
				const tripId = this.getAttribute('data-trip-id');
				fetch(`/service/api/v1/get-trip-detail/${tripId}`)
					.then(response => response.json())
					.then(data => {
						data = data.data
						console.log(data)
						// Cập nhật thông tin ở cột bên phải
						document.getElementById('vehicle-info').innerText = data.schedule.vehicle.code;
						document.getElementById('driver-name').innerText = data.schedule.driver.full_name;
						document.getElementById('employee-name').innerText = data.schedule.employee.full_name;
						document.getElementById('start-time').innerText = data.start_time;

						// Cập nhật danh sách học sinh
						const studentList = document.getElementById('student-status-list');
						studentList.innerHTML = ''; // Clear current list
						data.schedule.schedule_student_trip.forEach((student, index) => {
							attendance = fetchAttendance(student.student.id, tripId);
							console.log(attendance)

							const row = `
								<tr>
									<th scope="row">${index + 1}</th>
									<td>${student.student.full_name}</td>
									<td>${student.student.customer.full_name}</td>
									<td>${student.student.customer.user.phone}</td>
									<td>
										<button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#exampleModal">
											${student.student.status}
										</button>
									</td>
								</tr>
							`;
							studentList.insertAdjacentHTML('beforeend', row);
						});
					})
					.catch(error => {
						console.error('Error fetching trip details:', error);
					});
			});
		});
	});
</script>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

{% endblock cart %}
